@charset "UTF-8";
/* RESET CSS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
nav,
header,
footer,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ul,
li,
table,
form,
label,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

ul,
li {
  list-style: none;
}

input,
textarea,
select,
button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type="submit"]:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
  /*─ IE11 → remove cross to close ─*/
}

textarea {
  overflow: auto;
  /*─ Hide scroll bar on IE ─*/
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video,
svg,
picture {
  display: block;
}

img,
video {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'eesti';
  font-size: 1rem;
  background: #FDFDFD;
  font-family: 'Fanwood Text', serif;
}

h1, h2, h3, h4 {
  font-family: 'Tenor Sans', sans-serif;
}

/* Flexbox */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-fd-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
}

.hero__section {
  height: 100%;
  padding: 0 2rem;
  border-radius: 0.75rem;
  background-color: #f5e3e0;
  text-align: center;
}

.hero h1 {
  margin-bottom: 1.5rem;
  font-size: 4rem;
  color: #3a3238;
}

.hero p {
  font-size: 1.4rem;
  color: #6e4555;
}

.hero p a {
  text-decoration: underline;
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.hero p a:hover {
  opacity: 0.85;
}
